body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

/* div {
    background-color: black;
    color: white;
} */

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}